.navbar-open{
    flex:0.18;
    background-color:#5c5c92;
    transition: 0.5s all;
}
.navbar-closed{
flex:0;
display:none;
}

.admin{
    display:flex;
    align-items: center;
    justify-content:baseline;
    padding-top: 20px;
    color: white;
    padding-left: 50px;
    margin-bottom: 10px;

}
.admin>h2{
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.subscription_box{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    border-radius: 15px;

}
.subscription_box>img{
    margin-top:-25px;
    object-fit: contain;
    height:150px;
    width: 200px;
    padding-top: 40px;
}
.subscription_box>h5{
    font-size: 12px;
    font-weight: 400;
    color:white;
    box-sizing: border-box;
    background-color:rgb(241, 109, 60);
    padding:20px;
    padding-left:38px;
    padding-right:40px;
    border-radius: 5px;
}
.subscription_box>h5:hover{
    background-color:whitesmoke;
    color:rgb(241, 109, 60);
    cursor:pointer;
}
.copyright_options{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    color:white;
    margin-left:35px;
}
.copyright_options>p{
    padding-top:35px;
    font-size: 11px;
    font-weight: 650;
}
.copyright_options>h6{
    margin-top:-5px;
    font-size:11px;
    font-weight: 400;
}